@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*,
*::before,
*::after{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',   sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

.container{
    max-width: 1145px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER\

/* navbar */
.navbar{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 148px;
    margin: 0 auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.nav-list{
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-list li{
    padding: 0 10px;
}

.nav-list li .nav-link {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    color: #000000;
  }
  
  .nav-list li .nav-link::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: -24px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: 0.3s ease-in-out;
  }
  
  .nav-list li .nav-link:hover::after {
    width: 100%;
    transform: scale(1, 1);
  }

  .nav-btn{
    text-decoration: none;
    padding: 8px 16px;
    width: 159px;
    height: 40px;
    color: white;
    background-color: #00BAFC;
    border: 1px solid #00BAFC;
    border-radius: 5px;
}

.nav-btn:hover{
    background:white;
    color: rgba(0, 186, 252, 0.6);
    border: 1px solid rgba(0, 186, 252, 0.6);
    border-radius: 5px;
}

.nav-btn:hover:active{
    background: rgba(0, 186, 252, 0.6);
    color:  white;
    border: 1px solid rgba(0, 186, 252, 0.6);;
    border-radius: 5px;
}
/* dropdown */
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu{
    display: block;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 110px;
}

.dropdown-menu li{
    padding: 5px;
    border-radius: 5px; 
}

.dropdown-menu{ 
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    margin-top: 25px;
    width: 100%;
}

.dropdown-menu li:hover{
    background-color: #00BAFC;
    cursor: pointer;
}

.dropdown-menu li:hover:active{
    background-color: #4bbee8;
}

/* off navbar */
/* HERO section  */

.hero{
    display: flex;
    justify-content: space-between;
    padding: 90px 0 ;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 470px;
    height: 224px;
}

.hero-text p{
    padding: 16px 0;
}

.hero-btn{
    text-decoration: none;
    width: 232px;
    height: 40px;
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
    background-color: #00BAFC;
    border: 1px solid #00BAFC;
}

.hero-btn:hover{
   background-color:  rgba(0, 186, 252, 0.8);
}

.hero-btn:hover:active{
    background-color: rgba(0, 186, 252, 0.6);;
}

/* off hero section  */

/* off HEADER */

/* MAIN */

/* Services section */
.servis{
    text-align: center;
    margin-bottom: 120px;
}
.servis-title h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  
  .servis-title p {
    color: #7d7d7d;
    font-size: 16px;
    font-weight: 400;
    width: 935px;
    height: 48px;
    padding: 35px 19px 100px 195px;
    line-height: 24px;
  }
  
  .servis-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;

    margin: 0 auto;
    margin-bottom: 48px;
  }
  
  .servis-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    width: 310px;
    padding: 30px 22px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .servis-list-item:hover{
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .servis-list-item:hover:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .servis-list-item img{
    margin: 0 auto;
  }

  .servis-list-item h3 {
    font-weight: 700;
    font-size: 20px;
    color: #37474f;
    padding-top: 15px;
    margin: 0 auto;
  }
  
  .servis-list-item p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.7);
    padding-top: 15px;
    margin: 0 auto;
    padding-bottom: 24px;
  }
  
  .servis-list-item a {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.439286px;
    color: #717cff;
    text-decoration: none;
  }

  .servis-link a{
   margin: 10px;
  }

  /* End of Services section */

/* Work section */

.work-section-title{
    text-align: center;
}

.work-section-title h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%; 
}

.work-section-title p{
    color: #7d7d7d;
    font-size: 16px;
    font-weight: 400;
    width: 935px;
    height: 48px;
    padding: 35px 19px 100px 195px;
    line-height: 24px;
}
.work-section-list:nth-child(even){
 display: flex;
 flex-direction: row-reverse; 
 margin-left: 100px;
 padding: 10px;
}

.work-section-list{
    display: flex;
    width: 832px;
    height: 278px;
}

.work-section-items{
    width: 600px;
    height: 78px;
    padding: 109px 40px;
}

.work-section-block{
    float: center;
    margin-left: 50px;
    margin-bottom: 50px;
}

.work-section{
    margin-bottom: 63px;
}

.work-section a{
    margin-left: 480px;
}
/* off Work section  */

/* ORDER section */
.order h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%; 
    text-align: center;
}
.order p{
    color: #7d7d7d;
    font-size: 16px;
    font-weight: 400;
    width: 935px;
    height: 48px;
    padding: 35px 19px 100px 195px;
    line-height: 24px;
    text-align: center;
}

.order-input{
    width: 380px;
    height: 300px;
    padding: 20px;
    
    background-color: #000;
    margin-left: 370px;
}
.input-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    margin: 10px 20px;
    width: 300px;
    height: 56px;
}
.order-btn{
    margin-top: 100px;
}





.input-order {
    background: #00bafc;
    width: 100%;
    height: 90vh;
    margin-top: 63px;
  }
  
  .order-input-title {
    text-align: center;
    color: #fff;
  }
  
  .order-input-title h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%; 
    padding-top: 20px;
  }
  
  .order-input-title p {
    font-size: 16px;
    font-weight: 400;
    width: 935px;
    height: 48px;
    padding: 35px 128px 100px 112px;
    line-height: 24px;
    margin: 0 auto;
  }
  
  .order-input-blockt {
    margin-top: 10px;
  }
  
  .order-input-block form {
    width: 348px;
    height: 340px;
    background-color: #fff;
    margin: 0 auto;
    padding: 8px 0;
  }
  
  .order-input-block input {
    display: block;
    background: #f3f3f3;
    width: 300px;
    height: 56px;
    border: none;
    padding: 0 16px;
    margin: 24px auto;
    font-size: 22px;
  }
  
  .order-input-block button {
    border: none;
    text-align: center;
    margin: 0 70px;
    width: 200px;
    height: 13.5%;
    color: #fff;
    background: #00bafc;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
  }
/* off ORDER section */
/* off MAIN */
/* Footer */

/* off Footer */

.footer-list {
    background: #191919;
    height: 55vh;
    width: 100%;
    
  }
  
  .footer-list-items {
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    padding-bottom: 15px;
  }
  
  .footer-items-link {
    padding: 6px 0;
    font-size: 20px;
  }
  .list-items ul {
    display: flex;
    list-style: none;
    gap: 80px;
  }
 
  .footer-hover a:hover{
    color: #00b9fca7;
  }
  .footer-hover a:hover:active{
    color: #00BAFC;
  }
  .list-items li {
    margin-top: 56px;
    width: 420px;
  }
  
  .list-items li a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .list-items a {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
  }
  
  .list-items p{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
  
  .footer-socials {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 18px;
    padding: 10px 0;
  }
  .xizmatlar{
    text-align: center;
    margin-top: 70px;
  }
  .xizmatlar h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #000000;
  }
  .xizmatlar p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    width: 1121px;
    height: 72px;
    padding: 35px 128px 100px 112px;
  }
  .xizmatlar_list {
    display: flex;
    gap: 40px;
    background-color: green;
    margin-bottom: 60px;
    margin-right: 100px;
    background: #FFFFFF;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
  }
  .xizmatlar-img{
    width: 200px;
    height: 117.05px;
}
.xizmatlar_text{
    width: 500px;
    height: 314px;
}
.xizmatlar_text h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 18px;
}
.xizmatlar_text p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 36px;
    width: 552px;
    height: 48px;
}
.xizmatlar_text ul li{
   list-style: disc;
   color: #00BAFC;
}
.xizmatlar_text li a{
    padding: 5px;
    display: flex;
}
